/***** Google Font imports *****/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*Animated Media Queries*/
header,
.posts-wrapper,
.sidebar-wrapper,
.popular-posts-wrapper {
  -webkit-animation-property: width;
  -webkit-animation-property: height;
  -webkit-transition-duration: .7s;
  animation-property: width;
  animation-property: height;
  transition-duration: .7s; }

.caption h1,
.posts-wrapper h2,
.popular-posts h2 {
  -webkit-animation-property: font-size;
  -webkit-transition-duration: .5s;
  animation-property: font-size;
  transition-duration: .5s; }

/*End Animated Media Queries*/
.visible-s {
  display: none; }

.aside {
  transition: 1s; }

/*Large*/
@media screen and (max-width: 1300px) {
  body {
    overflow-x: hidden; }

  .container {
    width: 1000px; }

  header nav {
    width: 900px; }

  .caption h1 {
    font-size: 72px; }

  .footer-wrapper {
    padding: 40px; }

  .posts-wrapper {
    padding-left: 80px; }

  .sidebar-wrapper {
    padding-right: 80px; }

  .sidebar-ad-wrapper {
    width: 250px;
    height: 250px; }

  .sidebar-text p {
    font-size: 14px; }

  .posts-wrapper h2 {
    font-size: 44px; }

  .image-link {
    height: 250px; } }
/*Medium*/
@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden; }

  .container {
    width: 768px; }

  header {
    height: 400px; }

  header nav {
    width: 700px; }

  .caption {
    margin: 0 auto;
    margin-top: 80px; }

  .footer-wrapper {
    padding-left: 20px;
    padding-right: 20px; }

  .posts-wrapper {
    padding-left: 60px; }

  .sidebar-wrapper {
    padding-right: 60px; }

  .sidebar-ad-wrapper {
    width: 189px;
    height: 189px;
    background-position: center; }

  .sidebar-ad-wrapper:hover {
    background-position: center; }

  .sidebar-text p {
    font-size: 14px; }

  .posts-wrapper h2 {
    font-size: 36px; }

  .post-buttons {
    text-align: center; }

  .post-buttons a {
    display: inline-block;
    margin-bottom: 10px; }

  .image-link {
    height: 200px;
    background-position: center; }

  .image-link:hover {
    background-position: center; }

  .image-link h3 {
    font-size: 20px; } }
/*Small*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  div.main-content-container {
    padding-bottom: 0; }

  /*clear floats*/
  header nav ul,
  section.main,
  aside,
  footer p,
  footer nav {
    float: none; }

  /*turn inline to block elements*/
  header nav a,
  header nav ul,
  section.main,
  aside,
  footer p {
    display: block; }

  /*hide certain elements*/
  .post-info a.profile-pic-link,
  .post-info a.user-name,
  .sidebar-text,
  .brand-title,
  .post-buttons a span {
    display: none; }

  .container {
    width: 460px; }

  header {
    height: 220px; }

  header nav {
    width: 400px;
    margin: 0 auto;
    text-align: center; }

  header nav ul {
    margin-bottom: 20px; }

  header nav a {
    margin-bottom: 10px; }

  .caption {
    margin-top: 0px; }

  .caption h1 {
    font-size: 44px;
    line-height: 20px; }

  .footer-wrapper {
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px; }

  section.main, aside {
    width: 100%; }

  .sidebar-wrapper, .posts-wrapper {
    padding: 40px; }

  .sidebar-wrapper {
    padding-top: 0; }

  .sidebar-ad-wrapper {
    width: 100%;
    height: 240px;
    background-size: cover; }

  .sidebar-ad-wrapper:hover {
    background-size: cover; }

  .sidebar-text p {
    font-size: 14px; }

  .posts-wrapper h2 {
    font-size: 64px; }

  .post-buttons a {
    display: inline; }

  .popular-posts h2 {
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px; }

  .image-link {
    height: 240px;
    background-position: center;
    width: 100%;
    margin-bottom: 20px; }

  .image-link li {
    float: none; }

  .popular-posts-wrapper > a {
    display: block; }

  .popular-posts-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    overflow: auto; }

  .image-link:hover {
    background-position: center; }

  .image-link h3 {
    font-size: 30px;
    padding-right: 80px; }

  footer,
  footer nav {
    text-align: center; }

  footer nav {
    padding: 0; }

  footer nav ul {
    padding-left: 0px; }

  div.footer-wrapper p {
    margin-bottom: 40px; }

  .post-buttons {
    display: inline; }

  blockquote {
    margin-right: 0; }

  .visible-s {
    display: block; }

  .hidden-s {
    display: none; }

  .logo-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }

  footer {
    height: auto; }

  .footer-link-four {
    display: none; } }
@media screen and (max-width: 320px) {
  .container {
    width: 300px; }

  header {
    height: 180px; }

  header nav {
    width: 280px;
    padding-top: 16px; }

  header nav ul {
    margin-bottom: 10px; }

  h5 {
    font-size: 14px; }

  .caption h1 {
    font-size: 28px;
    line-height: 6px; }

  .caption p {
    font-size: 12px;
    font-weight: bold; }

  .posts-wrapper h2 {
    font-size: 44px; }

  .popular-posts h2 {
    font-size: 24px; }

  .image-link h3 {
    font-size: 20px;
    padding-right: 60px; }

  blockquote {
    font-size: 16px; }

  .post-content p {
    font-size: 12px; }

  .sidebar-ad a {
    font-size: 12px; }

  .sidebar-wrapper, .posts-wrapper, .popular-posts-wrapper {
    padding: 20px; }

  .posts-wrapper {
    padding-top: 40px; }

  .image-link {
    height: 240px; } }
/***** Body, Main Container *****/
body {
  margin: 0;
  padding: 0;
  background-color: #a3b3bf;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin: 0; }

h2 {
  font-size: 60px;
  color: #083452; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

a {
  text-decoration: none;
  -webkit-transition: color .7s ease-in-out;
  transition: color .7s ease-in-out; }

p {
  color: black;
  line-height: 1.8em; }

blockquote {
  color: #106db3;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-left: medium solid #a3b3bf;
  margin-left: 0px;
  margin-top: 40px;
  margin-bottom: 40px; }

/***** Main Content Container Stuffs *****/
.container {
  width: 1300px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.5); }

.main-content-container {
  display: block;
  padding-bottom: 40px;
  overflow: auto;
  background-color: white; }

section.main, aside {
  float: left;
  display: block; }

section.main {
  background-color: white;
  width: 65%; }

aside {
  background-color: white;
  width: 35%; }

/***** End Main Content Container Stuffs *****/
/***** HEADER *****/
header {
  height: 523px;
  text-align: center;
  background: linear-gradient(rgba(70, 130, 180, 0.6), rgba(70, 130, 180, 0.6)), url("images/rocks.jpeg");
  background-size: cover;
  vertical-align: middle; }
  header nav {
    margin: 0 auto;
    vertical-align: middle;
    width: 1004px;
    text-align: left;
    padding: 20px; }
    header nav p {
      display: inline; }
    header nav a {
      display: inline;
      color: black; }
      header nav a:hover {
        color: white; }
    header nav ul {
      float: right;
      margin: 0;
      padding: 0; }
      header nav ul li {
        display: inline-block;
        list-style-type: none;
        margin-right: 10px; }

.caption {
  margin-top: 136px;
  margin-left: 128px;
  margin-right: 128px;
  height: 120px; }
  .caption h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 90px;
    color: white;
    line-height: 50px; }
  .caption p {
    color: black;
    font-size: 14px; }

/***** END HEADER *****/
/***** POST AREA *****/
.posts-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 120px;
  padding-right: 60px; }

.profile-pic {
  border-radius: 100%;
  -webkit-filter: sepia(1);
  filter: sepia(1); }

.post-info {
  color: #a3b3bf;
  font-size: 13px;
  vertical-align: top;
  margin-top: 10px; }
  .post-info p {
    margin: 0;
    margin-left: 10px;
    display: inline; }
  .post-info .user-name a {
    color: #106db3; }
  .post-info a {
    vertical-align: top;
    color: #a3b3bf;
    text-decoration: underline; }
    .post-info a:hover {
      color: #106db3; }

article.posts-wrapper > p {
  margin-top: 30px; }

.post-content a {
  color: #106db3;
  text-decoration: underline; }
  .post-content a:hover {
    color: #083452; }
  .post-content a:visited {
    color: #a3b3bf; }

.post-buttons {
  margin-top: 60px; }
  .post-buttons a {
    margin-right: 10px;
    color: white;
    font-size: 13px; }
    .post-buttons a:hover {
      opacity: .7; }
  .post-buttons span {
    padding: 10px;
    background-color: #a3b3bf; }
  .post-buttons .fa {
    background-color: #5e686f;
    padding: 6px;
    margin-bottom: 4px;
    vertical-align: middle; }
  .post-buttons .fa-share-square {
    background-color: #083452; }
  .post-buttons .share span {
    background-color: #106db3; }

a.user-name {
  text-decoration: none;
  color: #106db3;
  margin-left: 4px;
  margin-right: 6px;
  vertical-align: top; }

/***** END POST AREA *****/
/***** SIDEBAR *****/
.sidebar-wrapper {
  padding-right: 120px;
  padding-top: 60px;
  padding-left: 20px; }
  .sidebar-wrapper section {
    margin-bottom: 40px; }

.profile-pic-link:hover {
  opacity: .8; }

.user-info {
  text-align: center;
  margin-top: 40px; }
  .user-info ul {
    margin: 0;
    padding: 0; }
    .user-info ul li {
      display: inline;
      list-style-type: none;
      font-size: 13px;
      color: #a3b3bf; }
      .user-info ul li a {
        color: #a3b3bf; }
        .user-info ul li a:hover {
          color: #106db3; }

.user-name {
  margin-top: 12px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #106db3; }

.sidebar-ad-wrapper {
  background: linear-gradient(rgba(70, 130, 180, 0.6), rgba(70, 130, 180, 0.6)), url("images/sharma-climber.jpg");
  height: 315px;
  width: 315px; }
  .sidebar-ad-wrapper:hover {
    background: url("images/sharma-climber.jpg"); }

.sidebar-ad p {
  text-align: right;
  margin: 0; }
.sidebar-ad a {
  color: #a3b3bf;
  font-size: 16px;
  text-decoration: underline; }
  .sidebar-ad a:hover {
    color: #106db3; }

.sidebar-text p {
  color: #a3b3bf; }
.sidebar-text h4 {
  color: #106db3; }

/***** END SIDEBAR *****/
/***** Most Popular Posts Section *****/
section.popular-posts {
  background-color: #FFFFFF;
  text-align: center;
  border-top: thin solid #a3b3bf;
  display: block; }

.popular-posts h2 {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px; }

.popular-posts-wrapper {
  position: relative; }

.popular-posts-wrapper > a {
  display: inline; }

.image-link {
  height: 325px;
  width: 25%;
  color: #083452;
  float: left;
  display: inline;
  position: relative; }

.honnold {
  background: linear-gradient(rgba(70, 130, 180, 0.6), rgba(70, 130, 180, 0.6)), url("images/honnold.jpg"); }
  .honnold:hover {
    background: none;
    background-image: url("images/honnold.jpg"); }

.rope {
  background: linear-gradient(rgba(70, 130, 180, 0.6), rgba(70, 130, 180, 0.6)), url("images/rope.jpg");
  background-size: cover;
  background-position: center; }
  .rope:hover {
    background: none;
    background-image: url("images/rope.jpg");
    background-size: cover;
    background-position: center; }

.ravelle {
  background: linear-gradient(rgba(70, 130, 180, 0.6), rgba(70, 130, 180, 0.6)), url("images/ravelle.jpg");
  background-size: cover;
  background-position: center; }
  .ravelle:hover {
    background: none;
    background-image: url("images/ravelle.jpg");
    background-size: cover;
    background-position: center; }

.beeners {
  background: linear-gradient(rgba(70, 130, 180, 0.6), rgba(70, 130, 180, 0.6)), url("images/beeners.jpg"); }
  .beeners:hover {
    background: none;
    background-image: url("images/beeners.jpg"); }

.image-link:hover > h3 {
  color: #FFFFFF;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8); }

.image-link a {
  color: #083452; }

.image-link h3 {
  position: absolute;
  text-align: left;
  font-size: 30px;
  bottom: 20px;
  left: 20px;
  transition: color .5s ease-in-out; }

/***** END Most Popular Posts Section *****/
/***** FOOTER *****/
.footer-wrapper {
  padding-top: 44px;
  padding-right: 155px;
  padding-left: 155px; }

.logo-wrapper {
  display: inline; }

footer {
  width: 100%;
  background-color: #083452;
  height: 96px;
  color: #a3b3bf;
  display: inline-block;
  font-size: 13px; }
  footer p {
    margin: 0px;
    display: inline;
    color: #a3b3bf; }
  footer nav {
    float: right;
    display: inline; }
    footer nav ul {
      margin: 0px; }
      footer nav ul li {
        display: inline; }
        footer nav ul li a {
          color: #a3b3bf;
          margin-right: 6px; }
          footer nav ul li a:hover {
            color: #FFFFFF; }

/*Animated Media Queries*/
header,
.posts-wrapper,
.sidebar-wrapper,
.popular-posts-wrapper {
  -webkit-animation-property: width;
  -webkit-animation-property: height;
  -webkit-transition-duration: .7s;
  animation-property: width;
  animation-property: height;
  transition-duration: .7s; }

.caption h1,
.posts-wrapper h2,
.popular-posts h2 {
  -webkit-animation-property: font-size;
  -webkit-transition-duration: .5s;
  animation-property: font-size;
  transition-duration: .5s; }

/*End Animated Media Queries*/
.visible-s {
  display: none; }

.aside {
  transition: 1s; }

/*Large*/
@media screen and (max-width: 1300px) {
  body {
    overflow-x: hidden; }

  .container {
    width: 1000px; }

  header nav {
    width: 900px; }

  .caption h1 {
    font-size: 72px; }

  .footer-wrapper {
    padding: 40px; }

  .posts-wrapper {
    padding-left: 80px; }

  .sidebar-wrapper {
    padding-right: 80px; }

  .sidebar-ad-wrapper {
    width: 250px;
    height: 250px; }

  .sidebar-text p {
    font-size: 14px; }

  .posts-wrapper h2 {
    font-size: 44px; }

  .image-link {
    height: 250px; } }
/*Medium*/
@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden; }

  .container {
    width: 768px; }

  header {
    height: 400px; }

  header nav {
    width: 700px; }

  .caption {
    margin: 0 auto;
    margin-top: 80px; }

  .footer-wrapper {
    padding-left: 20px;
    padding-right: 20px; }

  .posts-wrapper {
    padding-left: 60px; }

  .sidebar-wrapper {
    padding-right: 60px; }

  .sidebar-ad-wrapper {
    width: 189px;
    height: 189px;
    background-position: center; }

  .sidebar-ad-wrapper:hover {
    background-position: center; }

  .sidebar-text p {
    font-size: 14px; }

  .posts-wrapper h2 {
    font-size: 36px; }

  .post-buttons {
    text-align: center; }

  .post-buttons a {
    display: inline-block;
    margin-bottom: 10px; }

  .image-link {
    height: 200px;
    background-position: center; }

  .image-link:hover {
    background-position: center; }

  .image-link h3 {
    font-size: 20px; } }
/*Small*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  div.main-content-container {
    padding-bottom: 0; }

  /*clear floats*/
  header nav ul,
  section.main,
  aside,
  footer p,
  footer nav {
    float: none; }

  /*turn inline to block elements*/
  header nav a,
  header nav ul,
  section.main,
  aside,
  footer p {
    display: block; }

  /*hide certain elements*/
  .post-info a.profile-pic-link,
  .post-info a.user-name,
  .sidebar-text,
  .brand-title,
  .post-buttons a span {
    display: none; }

  .container {
    width: 460px; }

  header {
    height: 220px; }

  header nav {
    width: 400px;
    margin: 0 auto;
    text-align: center; }

  header nav ul {
    margin-bottom: 20px; }

  header nav a {
    margin-bottom: 10px; }

  .caption {
    margin-top: 0px; }

  .caption h1 {
    font-size: 44px;
    line-height: 20px; }

  .footer-wrapper {
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px; }

  section.main, aside {
    width: 100%; }

  .sidebar-wrapper, .posts-wrapper {
    padding: 40px; }

  .sidebar-wrapper {
    padding-top: 0; }

  .sidebar-ad-wrapper {
    width: 100%;
    height: 240px;
    background-size: cover; }

  .sidebar-ad-wrapper:hover {
    background-size: cover; }

  .sidebar-text p {
    font-size: 14px; }

  .posts-wrapper h2 {
    font-size: 64px; }

  .post-buttons a {
    display: inline; }

  .popular-posts h2 {
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px; }

  .image-link {
    height: 240px;
    background-position: center;
    width: 100%;
    margin-bottom: 20px; }

  .image-link li {
    float: none; }

  .popular-posts-wrapper > a {
    display: block; }

  .popular-posts-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    overflow: auto; }

  .image-link:hover {
    background-position: center; }

  .image-link h3 {
    font-size: 30px;
    padding-right: 80px; }

  footer,
  footer nav {
    text-align: center; }

  footer nav {
    padding: 0; }

  footer nav ul {
    padding-left: 0px; }

  div.footer-wrapper p {
    margin-bottom: 40px; }

  .post-buttons {
    display: inline; }

  blockquote {
    margin-right: 0; }

  .visible-s {
    display: block; }

  .hidden-s {
    display: none; }

  .logo-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }

  footer {
    height: auto; }

  .footer-link-four {
    display: none; } }
@media screen and (max-width: 320px) {
  .container {
    width: 300px; }

  header {
    height: 180px; }

  header nav {
    width: 280px;
    padding-top: 16px; }

  header nav ul {
    margin-bottom: 10px; }

  h5 {
    font-size: 14px; }

  .caption h1 {
    font-size: 28px;
    line-height: 6px; }

  .caption p {
    font-size: 12px;
    font-weight: bold; }

  .posts-wrapper h2 {
    font-size: 44px; }

  .popular-posts h2 {
    font-size: 24px; }

  .image-link h3 {
    font-size: 20px;
    padding-right: 60px; }

  blockquote {
    font-size: 16px; }

  .post-content p {
    font-size: 12px; }

  .sidebar-ad a {
    font-size: 12px; }

  .sidebar-wrapper, .posts-wrapper, .popular-posts-wrapper {
    padding: 20px; }

  .posts-wrapper {
    padding-top: 40px; }

  .image-link {
    height: 240px; } }

/*# sourceMappingURL=compiled.css.map */
